# Telegram
TELEGRAM_BOT_TOKEN=
ADMIN_GROUP_ID=
SUPERADMIN_ID=

# Base de datos
DATABASE_URL=postgresql://user:password@localhost:5432/pepepez_bot

# Google Sheets
GOOGLE_CREDENTIALS=./credentials.json
GOOGLE_SHEETS_ID=

# Configuración
TIMEZONE=America/Guayaquil
DEBUG=false
